#### "" IMPORT DATA TO MYSQL >> 15 min * ALL YEAR""

In [3]:
import pandas as pd
import MySQLdb
import numpy as np
import time
import sys
import datetime 
from datetime import datetime
from sympy import *
from sympy.solvers import solve
from sympy.parsing.sympy_parser import parse_expr

In [4]:
conn= MySQLdb.connect("localhost","conn","hems")
c = conn.cursor()

query_empty = """truncate table prediction.data15min_4y """ 
c.execute(query_empty)
print "prediction.data15min_4y  are Empty!!! \n"

j = 0
sum_p = 0
sum_meter1 = 0
sum_meter2 = 0
sum_meter3 = 0
sum_meter4 = 0
d = 1425   #2007-01-01  to 2010-11-26

time_a = pd.date_range('2007-01-01 00:00:00', periods=96*d, freq='15T')
time_b = pd.date_range('2007-01-01 00:14:59', periods=96*d, freq='15T')

while (j<= (96*d)-1):
    query = "SELECT * FROM prediction.data1min WHERE Timestamp >= '%s'   AND  Timestamp <= '%s'; " % (time_a[j],time_b[j])
    df = pd.read_sql(query, conn)
#     print len(df.active_power)
    if len(df.active_power) == 0 :
        min_p = 0
    else :
        for i in range(len(df.active_power)):
            sum_p += df.active_power[i]   
            sum_meter1  += df.Sub_metering_1[i]
            sum_meter2  += df.Sub_metering_2[i]
            sum_meter3  += df.Sub_metering_3[i]
            sum_meter4  += df.Sub_metering_4[i]
    c.execute("INSERT INTO prediction.data15min_4y (Timestamp, active_power,Sub_metering_1,Sub_metering_2,Sub_metering_3,Sub_metering_4) VALUES ( %s, %s, %s, %s, %s, %s)",(time_b[j],sum_p,sum_meter1 ,sum_meter2 ,sum_meter3, sum_meter4 ))
    conn.commit()
    sum_p = 0
    sum_meter1  = 0
    sum_meter2  = 0
    sum_meter3  = 0
    sum_meter4  = 0
    j += 1
      
print(".DONE!")

prediction.data15min_4y  are Empty!!!

.DONE!