### รู้แล้วนะทำมั้ยมัน Error
    - เพราะว่า pandas.Series.dt.minute มั้นต้องใช้ใน pandas v. 0.1.8 แต่เครื่องนี้ลง 0.13.1 เอง เอาไว้เด๋วตอน reboot ไว้ทำอีกที
    - http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.dt.minute.html

In [ ]:
import pandas as pd
pd.__version__

u'0.19.1'

In [ ]:
import pandas as pd
import MySQLdb
import numpy as np
import time
import datetime
import sys

min_p = 0
j = 0
d = 1 #Day

time_a = pd.date_range('2016-10-10', periods=96*d, freq='15T')

time_b = pd.date_range('2016-10-10 00:14:59', periods=96*d, freq='15T')


conn= MySQLdb.connect("localhost","conn","hems","power") # One Pi 1 @192.168.1.25 namal localhost
c = conn.cursor()


while (j <= (96*d)-1) :
    
    query = "SELECT Timestamp, s11 FROM power.enegate_bkk WHERE Timestamp >= '%s'   AND Timestamp <= '%s'; "% (time_a[j],time_b[j])
    df = pd.read_sql(query, conn)
    df = df[df.s11 != "----"]
    df = df.reset_index(drop=True)
    df['s11'] = df['s11'].astype(float)
    
    df.cTime =  pd.Series(pd.to_datetime(df.Timestamp))
   # print df.cTime
    print len(df.cTime)
    if len(df) == 0 :
        min_p = 0
    else :
        for i in range(len(df.cTime.dt.minute)):              
            min_p += df.s11[i]
    
        
        min_p = min_p/len(df)/4   
        #df.to_csv('out.csv')
    #c.execute("INSERT INTO power.watt_15T (Timestamp, watt) VALUES ( %s, %s)",(time_a[j],min_p))
    print time_a[j] , "-->" ,min_p ," W/15min"
   
    conn.commit()
    min_p = 0
    j += 1


print(".DONE!")

59
2016-10-10 00:00:00 --> 486.406779661  W/15min
59
2016-10-10 00:15:00 --> 459.355932203  W/15min
59
2016-10-10 00:30:00 --> 444.813559322  W/15min
59
2016-10-10 00:45:00 --> 392.13559322  W/15min
59
2016-10-10 01:00:00 --> 409.728813559  W/15min
59
2016-10-10 01:15:00 --> 532.677966102  W/15min
58
2016-10-10 01:30:00 --> 431.379310345  W/15min
59
2016-10-10 01:45:00 --> 450.711864407  W/15min
59
2016-10-10 02:00:00 --> 391.118644068  W/15min
59
2016-10-10 02:15:00 --> 451.322033898  W/15min
59
2016-10-10 02:30:00 --> 446.033898305  W/15min
59
2016-10-10 02:45:00 --> 374.745762712  W/15min
59
2016-10-10 03:00:00 --> 378.0  W/15min
59
2016-10-10 03:15:00 --> 368.644067797  W/15min
59
2016-10-10 03:30:00 --> 344.440677966  W/15min
59
2016-10-10 03:45:00 --> 409.220338983  W/15min
59
2016-10-10 04:00:00 --> 391.016949153  W/15min
59
2016-10-10 04:15:00 --> 368.440677966  W/15min
58
2016-10-10 04:30:00 --> 375.103448276  W/15min
59
2016-10-10 04:45:00 --> 356.237288136  W/15min
59
2016-10-10 05:00:00 --> 316.779661017  W/15min
59
2016-10-10 05:15:00 --> 305.186440678  W/15min
59
2016-10-10 05:30:00 --> 441.355932203  W/15min
59
2016-10-10 05:45:00 --> 484.983050847  W/15min
59
2016-10-10 06:00:00 --> 378.305084746  W/15min
59
2016-10-10 06:15:00 --> 413.186440678  W/15min
59
2016-10-10 06:30:00 --> 337.423728814  W/15min
59
2016-10-10 06:45:00 --> 155.593220339  W/15min
59
2016-10-10 07:00:00 --> 97.7288135593  W/15min
59
2016-10-10 07:15:00 --> 84.3050847458  W/15min
58
2016-10-10 07:30:00 --> 61.7586206897  W/15min
59
2016-10-10 07:45:00 --> 50.7457627119  W/15min
59
2016-10-10 08:00:00 --> 82.7796610169  W/15min
59
2016-10-10 08:15:00 --> 85.2203389831  W/15min
59
2016-10-10 08:30:00 --> 89.593220339  W/15min
59
2016-10-10 08:45:00 --> 82.3728813559  W/15min
59
2016-10-10 09:00:00 --> 51.2542372881  W/15min
59
2016-10-10 09:15:00 --> 68.8474576271  W/15min
59
2016-10-10 09:30:00 --> 83.0847457627  W/15min
59
2016-10-10 09:45:00 --> 76.8813559322  W/15min
59
2016-10-10 10:00:00 --> 58.7796610169  W/15min
59
2016-10-10 10:15:00 --> 59.2881355932  W/15min
59
2016-10-10 10:30:00 --> 64.3728813559  W/15min
58
2016-10-10 10:45:00 --> 93.724137931  W/15min
59
2016-10-10 11:00:00 --> 88.1694915254  W/15min
59
2016-10-10 11:15:00 --> 83.593220339  W/15min
59
2016-10-10 11:30:00 --> 77.6949152542  W/15min
59
2016-10-10 11:45:00 --> 52.0677966102  W/15min
59
2016-10-10 12:00:00 --> 74.9491525424  W/15min
59
2016-10-10 12:15:00 --> 85.6271186441  W/15min
59
2016-10-10 12:30:00 --> 84.1016949153  W/15min
58
2016-10-10 12:45:00 --> 84.3103448276  W/15min
59
2016-10-10 13:00:00 --> 71.3898305085  W/15min
59
2016-10-10 13:15:00 --> 64.9830508475  W/15min
59
2016-10-10 13:30:00 --> 93.7627118644  W/15min
59
2016-10-10 13:45:00 --> 78.5084745763  W/15min
59
2016-10-10 14:00:00 --> 91.9322033898  W/15min
59
2016-10-10 14:15:00 --> 90.5084745763  W/15min
59
2016-10-10 14:30:00 --> 66.0  W/15min
58
2016-10-10 14:45:00 --> 62.1724137931  W/15min
59
2016-10-10 15:00:00 --> 196.271186441  W/15min
59
2016-10-10 15:15:00 --> 175.728813559  W/15min
59
2016-10-10 15:30:00 --> 115.728813559  W/15min
59
2016-10-10 15:45:00 --> 109.016949153  W/15min
59
2016-10-10 16:00:00 --> 102.813559322  W/15min
59
2016-10-10 16:15:00 --> 61.7288135593  W/15min