In [ ]:
import pandas as pd
import MySQLdb
import time
import sys
import numpy as np
import time
import datetime 
import random
import matplotlib.pyplot as plt

In [ ]:
d = 30
time_a = pd.date_range('2016-10-01 00:00:00', periods=5760*d, freq='15S')
# print time_a
time_b = pd.date_range('2016-10-01 00:00:14', periods=5760*d, freq='15S')
# print time_b

conn = MySQLdb.connect("localhost","conn","hems")
c = conn.cursor()

# query_empty = """truncate table active.discount15active5""" 
# c.execute(query_empty)
# print "ctive.discount15active5 are Empty!!! \n"


j  =(779*60)+60
end =(790*60)+59
    

query2= "SELECT * FROM data_timeline.load_MONTH_1 WHERE  Timestamp >= '%s'   AND Timestamp <= '%s'; " % (time_a[0],time_b[(5760*d)-1])
df2= pd.read_sql(query2, conn)
df2['watt'] = df2['watt'].astype(float)

# query3= "SELECT * FROM collected_info.1_aircont26 WHERE no >= '%s'   AND no<= '%s'; "% ( 0 ,3026)
# df3= pd.read_sql(query3, conn)

while (j <= end):   
    if df2.watt[j] <= 500:
        df2watt = df2.watt[j]
    else:
        df2watt = df2.watt[j]-(random.uniform(60,80))
    c.execute("INSERT INTO active.discount15active5 (Timestamp,no,wattnow15sec) VALUES ( %s,%s,%s)",(time_b[j],j,df2watt/240))
    conn.commit()
    j+=1
print "DONE !!"

In [ ]:
import pandas as pd
import MySQLdb
import time
import sys
import numpy as np
import time
import datetime 
import random
import matplotlib.pyplot as plt

d = 30

time_a = pd.date_range('2016-10-01 00:00:00', periods=5760*d, freq='15S')
# print time_a
time_b = pd.date_range('2016-10-01 00:00:14', periods=5760*d, freq='15S')
# print time_b

conn = MySQLdb.connect("localhost","conn","hems")
c = conn.cursor()


time_b1 = pd.date_range('2016-10-01 00:14:59', periods=96*d, freq='15T')
print time_b1[766]

In [ ]:
2016-10-08 23:48:44

In [ ]:
d=30
time_bbb = pd.date_range('2016-10-01 00:00:14', periods=5760*d, freq='15S')

print time_bbb[(815*60)+59]
print time_bbb[ (779*60)+60]