In [2]:
import matplotlib.pyplot as plt
import pandas
import MySQLdb

In [3]:
#---- For matplotlib plot in web -----
%matplotlib inline

In [ ]:
# connect to MySQL database
conn = MySQLdb.connect("52.220.88.45","read","hems","power")


query = """
SELECT TimeStamp, s11
FROM power.enegate_bkk
WHERE TimeStamp >= "2016-08-14 00:00:00"
  AND TimeStamp < "2016-08-14 01:001:00";
"""

df = pandas.read_sql(query, conn, index_col=['TimeStamp'])

df = df[df.s11 != "----"]

print df

# char --> int
df['s11'] = df['s11'].astype(int)

fig, ax = plt.subplots()
ax.set_title('07-14 Aug 2016')
df.plot(ax=ax)
plt.show()
conn.close()