In [5]:
import pandas as pd
import MySQLdb
import numpy as np
import time
import sys
import datetime 

min_p = 0
j = 0
d = 3 #Day

# Print iterations progress
def printProgress (iteration, total, prefix = '', suffix = '', decimals = 1, barLength = 100):
    """
    Call in a loop to create terminal progress bar
    @params:
        iteration   - Required  : current iteration (Int)
        total       - Required  : total iterations (Int)
        prefix      - Optional  : prefix string (Str)
        suffix      - Optional  : suffix string (Str)
        decimals    - Optional  : positive number of decimals in percent complete (Int)
        barLength   - Optional  : character length of bar (Int)
    """
    formatStr       = "{0:." + str(decimals) + "f}"
    percents        = formatStr.format(100 * (iteration / float(total)))
    filledLength    = int(round(barLength * iteration / float(total)))
    bar             = '|' * filledLength + '-' * (barLength - filledLength)
    sys.stdout.write('\r%s |%s| %s%s %s' % (prefix, bar, percents, '%', suffix)),
    if iteration == total:
        sys.stdout.write('\n')
    sys.stdout.flush()

time_a = pd.date_range('2016-10-01', periods=96*d, freq='15T')

time_b = pd.date_range('2016-10-01 00:14:59', periods=96*d, freq='15T')


conn= MySQLdb.connect("52.220.88.45","conn","tum354527","power") # One Pi 1 @192.168.1.25 namal localhost
c = conn.cursor()

# set databases to empty 
query_empty = """truncate table PV.15T""" 
c.execute(query_empty)
print "PV.15T are Empty!!! \n"
print "Progress:",
while (j <= (96*d)-1) :
    
    query = "SELECT Timestamp, W_pv FROM Test.pv WHERE Timestamp >= '%s'   AND TimeStamp <= '%s'; "% (time_a[j],time_b[j])
    df = pd.read_sql(query, conn)
    df.cTime =  pd.Series(pd.to_datetime(df.Timestamp))
    print df.cTime
    if len(df) == 0 :
        min_p = 0
    else :
        for i in range(len(df.cTime.dt.minute)):
            min_p += df.W_pv[i]
    
        
        min_p = min_p/len(df)/4   
        #df.to_csv('out.csv')
    c.execute("INSERT INTO PV.15T (Timestamp, watt) VALUES ( %s, %s)",(time_a[j],min_p))
    #print time_a[j] , "-->" ,min_p ," W/15min"
    #print "|",
    conn.commit()
    min_p = 0
    j += 1
    
    #printProgress(j, 96*d, prefix = 'Progress:', suffix = 'Complete', barLength = 50)
    #sys.stdout.flush()
    
    print ".",
print(".DONE!")

PV.15T are Empty!!!

Progress: Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. Series([], name: Timestamp, dtype: datetime64[ns])
. 0    2016-10-01 08:10:31
1    2016-10-01 08:10:36
2    2016-10-01 08:10:41
3    2016-10-01 08:10:46
4    2016-10-01 08:10:51
5    2016-10-01 08:10:56
6    2016-10-01 08:11:01
7    2016-10-01 08:11:06
8    2016-10-01 08:11:27
9    2016-10-01 08:11:28
10   2016-10-01 08:11:33
11   2016-10-01 08:11:38
12   2016-10-01 08:11:43
13   2016-10-01 08:11:48
14   2016-10-01 08:11:53
15   2016-10-01 08:11:58
16   2016-10-01 08:12:03
17   2016-10-01 08:12:08
18   2016-10-01 08:12:13
19   2016-10-01 08:12:18
20   2016-10-01 08:12:23
21   2016-10-01 08:12:28
22   2016-10-01 08:12:33
23   2016-10-01 08:12:38
24   2016-10-01 08:12:43
25   2016-10-01 08:12:48
26   2016-10-01 08:12:53
27   2016-10-01 08:12:58
28   2016-10-01 08:13:03
29   2016-10-01 08:13:08
30   2016-10-01 08:13:13
31   2016-10-01 08:13:18
32   2016-10-01 08:13:23
33   2016-10-01 08:13:28
34   2016-10-01 08:13:33
35   2016-10-01 08:13:38
36   2016-10-01 08:13:43
37   2016-10-01 08:13:48
38   2016-10-01 08:13:53
39   2016-10-01 08:13:58
40   2016-10-01 08:14:03
41   2016-10-01 08:14:08
42   2016-10-01 08:14:13
43   2016-10-01 08:14:18
44   2016-10-01 08:14:23
45   2016-10-01 08:14:28
46   2016-10-01 08:14:33
47   2016-10-01 08:14:38
48   2016-10-01 08:14:43
49   2016-10-01 08:14:48
50   2016-10-01 08:14:53
51   2016-10-01 08:14:58
Name: Timestamp, Length: 52, dtype: datetime64[ns]

AttributeError: 'Series' object has no attribute 'dt'