In [1]:
import pandas as pd
import MySQLdb
import numpy as np
import time
import sys
import datetime 

min_p = 0
j = 0
d = 30 #Day

# Print iterations progress
# ราย15 วินาทีเป็น 15นาที แสดงว่ามีข้อมูล 96 ค่าข้อมูลต่อหนึ่งวัน ดังนั้นถ้าต้องการข้อมูลในรายชม.ในหนึ่งวัน จะต้องได้ 24ชั่วโมง = 24 ค่าข้อมูล 
time_a = pd.date_range('2016-09-01', periods= d, freq='D')
time_b = pd.date_range('2016-09-01 23:59:59', periods= d, freq='D')


conn= MySQLdb.connect("localhost","conn","hems","power")
c = conn.cursor()

####### set databases to empty #########
query_empty = """truncate table watt.watt_1date""" 
c.execute(query_empty)
print "PV.15T are Empty!!! \n"
# print "Progress:",

while (j <= (d)-1) :
    query = "SELECT Timestamp,s11 FROM power.enegate_bkk WHERE Timestamp >= '%s'   AND TimeStamp <= '%s'; "% (time_a[j],time_b[j])
    df = pd.read_sql(query, conn)
    df = df[df.s11 != "----"]
    df = df.reset_index(drop=True)
#     df.cTime =  pd.Series(pd.to_datetime(df.Timestamp))    #เปลี่ยน Timestamp ใน pd เป็นรูปแบบของ datetime ที่สามารถนำมาใช้ต่อได้
    df['s11'] = df['s11'].astype(float)
    print len(df)
    
    if len(df) == 0 :
        min_p = 0
    else :
        for i in range(len(df)):
            min_p += df.s11[i]   
        min_p = (min_p/len(df))*24  
#     df.to_csv('out.csv')
#     print min_p
#     print len(df)
    print time_b[j] , "-->" ,min_p/1000 ," KW/DAY."
    c.execute("INSERT INTO watt.watt_1date (Timestamp, watt) VALUES ( %s, %s)",(time_b[j],min_p))
    #print "|",
    conn.commit()
    min_p = 0
    j += 1
       
#     print ".",
print(".DONE!")
print "Power consuming between" ,time_a[0], "to" ,time_b[j-1], "equal to"  ,all_p/1000 ," kW/Hr."   ##พลังงานรวมทั้งหมด

ProgrammingError: (1146, "Table 'watt.watt_1date' doesn't exist")

In [9]:
time_b

DatetimeIndex(['2016-09-01 23:59:59', '2016-09-02 23:59:59',
               '2016-09-03 23:59:59', '2016-09-04 23:59:59',
               '2016-09-05 23:59:59', '2016-09-06 23:59:59',
               '2016-09-07 23:59:59', '2016-09-08 23:59:59',
               '2016-09-09 23:59:59', '2016-09-10 23:59:59',
               '2016-09-11 23:59:59', '2016-09-12 23:59:59',
               '2016-09-13 23:59:59', '2016-09-14 23:59:59',
               '2016-09-15 23:59:59', '2016-09-16 23:59:59',
               '2016-09-17 23:59:59', '2016-09-18 23:59:59',
               '2016-09-19 23:59:59', '2016-09-20 23:59:59',
               '2016-09-21 23:59:59', '2016-09-22 23:59:59',
               '2016-09-23 23:59:59', '2016-09-24 23:59:59',
               '2016-09-25 23:59:59', '2016-09-26 23:59:59',
               '2016-09-27 23:59:59', '2016-09-28 23:59:59',
               '2016-09-29 23:59:59', '2016-09-30 23:59:59'],
              dtype='datetime64[ns]', freq='D')

DatetimeIndex(['2016-09-01 23:59:59', '2016-09-02 23:59:59',
               '2016-09-03 23:59:59', '2016-09-04 23:59:59',
               '2016-09-05 23:59:59', '2016-09-06 23:59:59',
               '2016-09-07 23:59:59', '2016-09-08 23:59:59',
               '2016-09-09 23:59:59', '2016-09-10 23:59:59',
               '2016-09-11 23:59:59', '2016-09-12 23:59:59',
               '2016-09-13 23:59:59', '2016-09-14 23:59:59',
               '2016-09-15 23:59:59', '2016-09-16 23:59:59',
               '2016-09-17 23:59:59', '2016-09-18 23:59:59',
               '2016-09-19 23:59:59', '2016-09-20 23:59:59',
               '2016-09-21 23:59:59', '2016-09-22 23:59:59',
               '2016-09-23 23:59:59', '2016-09-24 23:59:59',
               '2016-09-25 23:59:59', '2016-09-26 23:59:59',
               '2016-09-27 23:59:59', '2016-09-28 23:59:59',
               '2016-09-29 23:59:59', '2016-09-30 23:59:59'],
              dtype='datetime64[ns]', freq='D')