In [2]:
#http://stackoverflow.com/questions/11845055/predicting-from-previous-datevalue-data
import matplotlib.pyplot as plt
import pandas as pd # v. 1.7
import MySQLdb
import matplotlib.pyplot as plt

import numpy as np

from sklearn.metrics import mean_absolute_error,mean_squared_error
import statistics 

%matplotlib inline

In [1]:
conn = MySQLdb.connect("localhost","conn","hems")
c= conn.cursor()

d = 28
time_a = pd.date_range('2016-09-03 00:00:00 ', periods=96*d, freq='15T')
time_b = pd.date_range('2016-09-03 00:14:59', periods=96*d, freq='15T')

i = 0
while(i<= (96*d)-1):
    query = "SELECT Timestamp, watt FROM PVBATT.P15min_lastmonth_arranged WHERE Timestamp >= '%s'   AND TimeStamp <= '%s'; "% (time_a[i],time_b[i])
    df = pd.read_sql(query, conn)
    c.execute("INSERT INTO PVBATT.totalwatt (Timestamp, watt ) VALUES ( %s, %s)",(time_b[i],df.watt[0]))
    conn.commit()   
    i += 1
    print ".",
print "DONE!!"

NameError: name 'MySQLdb' is not defined

In [3]:
time_a = pd.date_range('2016-09-03 00:00:00 ', periods=96*d, freq='15T')

NameError: name 'd' is not defined